tasks home
<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Add Task</button>
</form>
{% for task in tasks %}
    <br/>---
    <br/> {{ task.title }}
    {% if task.completed %}    
        <br><strike> {{ task.content }}</strike>
    {% else %}
        <br>{{ task.content }}
    {% endif %}
<br/> {{ task.completed }}
<br> <a href="{% url 'update_task' task.id %}">Update</a>
<br> <a href="{% url 'delete_task' task.id %}">Delete</a>
<br/>---
{% endfor %}